.text23 {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 100%;
  font-weight: 500;
}
.text24,
.text25 {
  margin-left: 15px;
  position: relative;
  line-height: 120%;
  font-weight: 600;
}
.text25 {
  margin-right: 20px;
  letter-spacing: 0.03em;
  line-height: 100%;
  color: var(--color-darkslategray);
}
.alert-header {
  align-self: stretch;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.icon-clock {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.alert,
.alert-body {
  display: flex;
  justify-content: flex-start;
}
.alert-body {
  flex-direction: row;
  margin-left: 12px;
  align-items: center;
  gap: var(--gap-5xs);
  font-size: var(--font-size-sm);
}
.alert {
  border-radius: var(--br-5xs);
  background: linear-gradient(
    135deg,
    rgba(222, 67, 19, 0.2),
    rgba(222, 67, 19, 0.2) 0.75%,
    rgba(222, 67, 19, 0.2) 2.92%,
    rgba(222, 68, 20, 0.2) 6.37%,
    rgba(223, 69, 21, 0.2) 10.97%,
    rgba(223, 72, 22, 0.2) 16.59%,
    rgba(224, 75, 24, 0.2) 23.1%,
    rgba(225, 80, 27, 0.2) 30.37%,
    rgba(227, 86, 31, 0.2) 38.27%,
    rgba(229, 94, 36, 0.2) 46.66%,
    rgba(231, 104, 43, 0.2) 55.41%,
    rgba(235, 117, 51, 0.2) 64.39%,
    rgba(238, 132, 60, 0.2) 73.47%,
    rgba(243, 149, 71, 0.2) 82.52%,
    rgba(248, 169, 84, 0.2) 91.41%,
    rgba(254, 193, 99, 0.2)
  );
  width: 115%;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  align-items: flex-start;
  gap: var(--gap-9xs);
  color: var(--color-tomato);
}
.total {
  font-weight: 600;
}
.left-text,
.right-text {
  position: relative;
  line-height: 120%;
}
.right-text {
  font-size: var(--font-size-5xl);
  letter-spacing: 0.03em;
  line-height: 100%;
}
.summary-container {
  align-self: stretch;
  background-color: var(--color-white);
  border-top: 2px solid var(--color-silver);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-5xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
  font-family: var(--font-roboto);
}
@media only screen and (max-width:650px)
{

  .alert{
    width:100%;

  }
  .alt
  {
    width:100%;
  margin-top: 15px;
    font-size: 13px;
  }
  .alt div  {
    padding-bottom: 5px;

  }
  .alert-body
  {
  
    padding-top: 25px;
    font-size: 13px;
    width:100%;
  }
  
}

@media only screen and (max-width:400px)
{

  .alt
  {
    display: block;
    width:100%;
  margin-top: 15px;
    font-size: 13px;
  }
  .alert-body
  {
  
    display: block;
    margin-top: 25px;
    padding-top:35px;
    font-size: 13px;
    width:100%;
    margin-left: 0px;
  }
  .text24,.text25
  {
    width:fit-content;
   margin: auto;
  }

  .alert-header
  {
    font-size: 13px;
  }
  .alt2{
   display: block;
    margin-top: 20px;
    margin-bottom: 30px;
    width:auto;
    height: fit-content;
  }

  .input-container
  {
    font-size: 13px;
  }
  .text-field-3
  {
    font-size: 13px;
  }
  .tag{
     width:auto;
     font-size: 10px;

  }
  input[type=radio]
  {
    width:15px;
    height:15px;
  }
  .text14,.text9,.text8
  {
    font-size: 11px;
  }



}

